.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.winText {
    color: green;
}
.loseText {
    color: red;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.wrapper h1 {
    margin-top: 50px;
}
.wrapper p {
    color: brown;
    font-size: 1.2rem;
    margin-top: 5px;
}
.button {
    background-color: rgb(156, 123, 187);
    color: white;
   font-size: 1.6em;
   font-weight: bold;
   padding: 10px 40px;
   border: none;
   border-radius: 20px;
   margin-top: 20px;

}